apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: guestbook
spec:
  generators:
  - list:
      elements:
      - cluster: in-cluster
        url: https://kubernetes.default.svc
  template:
    metadata:
      name: '{{cluster}}-guestbook'
    spec:
      project: default
      source:
        repoURL: https://github.com/javalove93/argocd-examples.git
        targetRevision: HEAD
        path: application-sets/{{cluster}}/guestbook/
      destination:
        server: '{{url}}'
        namespace: appset
